input::placeholder {
  color: rgba(0, 0, 0, 0.15) !important;
  opacity: 1 !important;
  font-weight: 300 !important;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.15) !important;
}

input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.15) !important;
}

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.15) !important;
}

input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.15) !important;
}